In [1]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy

In [4]:
df = pd.read_csv('Desktop/tinystories_refmodels_34.csv')

In [5]:
df

,Unnamed: 0,order-0,pplx-0,order-1,pplx-1,order-2,pplx-2,order-3,pplx-3
0,0,93278,2.481880,34098,2.488002,59525,2.514908,33563,2.528624
1,1,32988,2.538718,14592,2.531260,12340,2.537405,33461,2.510631
2,2,80609,2.841385,61063,2.854401,91750,2.813932,9194,2.875371
3,3,53093,2.275244,55636,2.229094,40969,2.216276,96441,2.270635
4,4,43563,2.607047,54301,2.677083,81111,2.545040,50879,2.615653
...,...,...,...,...,...,...,...,...,...
99978,99978,69316,3.143414,6706,3.132251,52767,3.144162,48050,3.236818
99979,99979,4158,3.438086,80203,3.498163,15840,3.395739,9042,3.468969
99980,99980,37823,2.707923,17093,2.752345,76246,2.732174,77703,2.759684
99981,99981,49495,2.584986,85651,2.549535,23890,2.606401,36445,2.517845
99982,99982,95482,2.259774,68206,2.374780,40541,2.292413,91521,2.277551

In [6]:
# Using model 4 as the reference

In [19]:
scipy.stats.spearmanr(np.argsort(df[f'order-{0}'])[:10000], df[f'pplx-{0}'][:10000] - df[f'pplx-{3}'][:10000])[1]

2.075170680384351e-87

In [23]:
for i in range(8):
    print(scipy.stats.spearmanr(np.arange(10000), df[f'pplx-{0}'][10000*i:10000*(i+1)])[1])

0.10433806090957184
0.7065278213843637
0.5377533115064965
0.4275537617653944
0.6128127033495724
0.071332405594823
0.4028065221607594
0.7614985774939236

In [17]:
scipy.stats.spearmanr(np.argsort(df[f'order-{0}'])[:10000], df[f'pplx-{0}'][:10000])[1]

0.0025536674466633442